/* Add your custom styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Arial', sans-serif;
    height: 100%;
}

nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px 40px;
    z-index: 2;

}

.nav-title{
    font-size: 24px;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.nav-btn{
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 10px;
}

.page-container{
    height: auto;
    box-sizing: border-box;
    background-color: rgb(240,240,240);
}

.form-page-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 40px 30px;
}

#register-form{
    min-width: 600px;
}

#addbook-form{
    min-width: 700px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.input-container input{
    width: 70%;
    padding: 10px;

}

.input-container textarea{
    width: 70%;
    height: 100px;
    padding: 10px;

}

.btn{
    width: 50%;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
}

.header-container{
    display: flex;
    background-color: white;
    padding-top: 50px;
    
}

.header-image{
    width: 50%;
}
.text-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
.text-container h3{
    font-size: 20px;
}
.text-container p{
    font-size: 18px;
    line-height: 24px;
}

#header-btn{
    align-self: flex-end;
    color: #333;
    text-decoration: none;
    text-align: center;
    max-width: 40%;
    transition: 0.2s all linear;
    font-size: 22px;
    border: 2px solid #333;
}

#header-btn:hover{
    background-color: #333;
    color: white;
}

.catalog{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
    background-color: rgb(240,240,240);
    flex-wrap: wrap;
}
.book-container{
    position: relative;
    width: 26%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px 35px;
    box-shadow: 0px 9px 24px 5px rgba(0,0,0,0.57);
    gap: 25px;

}

.book-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.abstract{
    font-size: 18px;
    line-height: 24px;
}

.book-image{
    width: 100%;
    height: 300px;
    padding: 10px;
    object-fit: cover;
    align-self: center;
}

.see-more-btn{
    color: blue;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.superuser-actions{
    z-index: 0;
    position: absolute;
    top: 0;
    display: flex;
    align-self: flex-end;
    gap: 14px;
    height: 98%;
}
.book-action-btn{
    text-decoration: none;
    width: 50%;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
}

.modal-container{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-bg-layer{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.8);
}

.modal-content{
    z-index: 1;
    background-color: #fff;
    width: 50%;
    height: 50%;
    border-radius: 6px;
    position: relative;
    display: flex;
    padding: 50px 40px;

}

.modal-image{
    width: 40%;
    object-fit: cover;
}

.modal-book-info{
    width: 60%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.close-btn{
    font-size: 80px;
    color: red;
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer;
}

.borrow-btn{
    background-color: rgba(0,240,0,0.3);
    border: 2px solid #00A300;
    border-radius: 4px;
    font-size: 18px;
    padding: 8px 12px;
    color: #00A300;
    cursor: pointer;
    transition: 0.2s all linear;
}

.borrow-btn:hover{
    background-color:#00A300;
    color: white;
}
.availability{
    color: red;
    background-color: rgba(240,0,0, 0.3);
    padding: 8px 12px;
    border: 2px solid red;
    border-radius: 6px;
}


.full-abstract-text{
    font-size: 18px;
    line-height: 24px;
    overflow-y: scroll;
}

.modal-author{
    font-size: 16px;
}

.error-container{
    margin-top: 20px;
    color: red;
    font-weight: bold;
    font-size: 16px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Add more styles as needed */
