{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-page-container">
        <div class="form-container">
            <h1 class="form-title">Login</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="input-container">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                </div>

                <div class="input-container">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>                    
                </div>

                <input type="submit" value="Login" class="btn">
                {% if form.errors %}
                    <div class="error-container">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>            
        </div>
    </div>

{% endblock %}
